/* globals.css */

/* Importar Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais adicionais */
html {
  scroll-behavior: smooth; /* Para um efeito de rolagem suave */
}

body {
  @apply bg-gray-100; /* Adicione uma cor de fundo suave */
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8; /* Margens e preenchimento responsivos */
}

.navbar {
  @apply bg-white shadow-md; /* Estilo da navbar */
}

.main {
  @apply flex flex-col min-h-screen; /* Estilo principal para ocupar a tela inteira */
}

/* Exemplo para um container responsivo */
.responsive-container {
  @apply flex flex-col items-center justify-center;
  @apply sm:flex-row sm:justify-around; /* Ajuste para dispositivos maiores */
}

/* Estilo para esconder overflow indesejado */
.overflow-hidden {
  overflow: hidden;
}
